elasticsearch==7.7.0
elasticsearch-dsl==7.2.0
Keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
pandas
Pillow
pymilvus==1.1.1
scikit-image
scikit-learn
tensorflow==2.10.1
tornado==6.0.3
ImageHash
opencv-python
Django==2.2.27
django-allauth==0.39.1
django-cors-headers==3.0.2
django-rest-auth==0.9.5
djangorestframework==3.11.2
gunicorn==20.0.4
python-dotenv==0.14.0
Scrapy==2.6.0
mysqlclient
cffi
redis
black
pyopenssl==22.0.0
stweet